:root[data-theme="light"] {
    --text: #17051f;
    --background: #fcf6fe;
    --primary: #591376;
    --secondary: #c9b0a1;
    --accent: #1db968;
    --inverse: var(--background)
}
:root[data-theme="dark"] {
    --text: #f2e0fa;
    --background: #070109;
    --primary: #ce89ec;
    --secondary: #5e4536;
    --accent: #46e291;
    --inverse: var(--text)
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
.boxes {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    max-width: 70vw;
    max-height: fit-content;
    overflow: auto;
}
.boxes {
    backdrop-filter: blur(10px);
    background-color: rgba(94, 94, 94, 0.116);
    border: 4px solid rgba(131, 131, 131, 0.397);
    border-radius: 15px;
}
h1 {color: var(--text);}
h3 {color: car(--background); margin-top: 0px;}
h6 {color: var(--text); margin-top: 0px; margin-bottom: 1em;}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(94, 94, 94, 0.116);
    color: var(--text)
}
button {
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--background);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button[data-theme="dark"] {
    background-color: var(--primary);
}
button:hover {
    background-color: var(--secondary);
}
#shortened-link {
    margin-top: 20px;
    font-size: 18px;
    color: var(--text);
    list-style: none;
    padding: 0;
}
#shortened-link li {
    margin-bottom: 10px;
    list-style-type: none;
}
#shortened-link li::before {
    content: "\\2022"; /* Unicode character for a bullet point (\u25cb) */
    color: var(--accent); 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}
.header a {
    display: flex;
    color: var(--inverse);
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 5px;
    cursor: pointer;
}
.hsvg {
    position: inherit;
    filter: none;
    margin-right: 5px;
}
.header a[data-theme="light"] {
    color: var(--background);
}
.header img {
    margin-right: 5px;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
}
.Sa:link, .Sa:visited {
        color: var(--primary);
}

/* Error page stuff */
pre {
    font-size: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(94, 94, 94, 0.116);
    border-radius: 15px;
}