body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
    margin-top: 0;
    margin-bottom: 0;
}
h1,
h2 {
    margin-top: 0%;
    color: var(--text);
}
.L {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form {
    display: flex;
    flex-direction: column;
}
.container form input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    opacity: 40%;
}
.container form button {
    padding: 10px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.grad {
    background: linear-gradient(45deg, #da7377, #f1bd5b, #e9de7a, #7be677, #93dde2, #8283e2, #d894df);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#submit, button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#submit {
    padding: 10px 20px;
}
#aa {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
#b1 {
    color: var(--text);
    background-color: var(--background);
}
#b2 {
    color: white;
    background-color: #f25f5c;
}
.reg {
    margin: 10px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 0 0 5px 5px;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.561);
    height: 50px;
    max-width: calc(70vw - 20px);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.reg a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

