body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container h1 {
    margin-top: 0;
    margin-bottom: 0;
}
h1,
h2 {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    color: var(--text);
}
.L {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grad {
    background: linear-gradient(45deg, #da7377, #f1bd5b, #e9de7a, #7be677, #93dde2, #8283e2, #d894df);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(10px);
    background-color: rgb(37, 36, 36);
}

#submit, button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--text);
    cursor: pointer;
}
#submit {
    padding: 10px 20px;
}
#actions {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
#logout {
    color: var(--text);
    background-color: var(--background);
}
#delete {
    color: white;
    background-color: #f25f5c;
}
.reg {
    margin: 10px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 0 0 5px 5px;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.561);
    height: 50px;
    max-width: calc(70vw - 20px);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.reg a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

honox-island:has(> .reg) {
    padding-bottom: 40px;
}

honox-island:has(> .account) {
    padding-bottom: 50px;
}
