.refresh {
    background: none;
    border: none;
    cursor: pointer;
    right: 0;
    top: 0;
    padding: 10px;
    border-radius: 15px;
    width: 47px;
    height: 47px;
}

.refresh p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.refresh svg {
    width: 20px;
    height: 20px;
    margin: inherit;
}